.menuCore
{

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

}

.messages
{

  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -50px;
  position: fixed;
  bottom: 120px;
  right: 20px;

}


.msgNotif, .sosAlert
{

   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   -webkit-box-shadow: -4px 1px 6px -2px rgba(0,0,0,0.75);
   -moz-box-shadow: -4px 1px 6px -2px rgba(0,0,0,0.75);
   box-shadow: -4px 1px 6px -2px rgba(0,0,0,0.75);
   border: 1px solid #fc0e26;
   background-color: #fc0e26;
   border-radius: 100%;

}


.msgNotif img, .msgNotif span
{

  position: absolute;

}


.msgNotif span
{

  width: 20px;
  height: 20px;
  border: 2px solid #fc0e26;
  border-radius: 100%;
  background-color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -12px;
  left: 25px;
  color: #fc0e26;

}


.messages img
{

   width: 30px;
   height: 30px;

}


.menuCore .menuCont
{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}


.moreMenuItems
{

   width: auto;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 10px;
   position: relative;
   top: 7px;
}


.menuIconCont
{

   width: 35%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;

}


.menuIconCont img
{

   width: 100%;
   height: 100%;

}


.moreMenuItems p
{

   color: white;
   text-align: center;
   font-size: 13px;
   margin-top: 2px;

}
